@model StudentManagement.Models.user

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <style>
            #border {
                border: 1px solid black;
                margin: 5% auto 10% auto;
                max-width: 500px;
                min-width: 200px;
                padding-left: 60px;
                padding-right: 60px;
                border-radius: 20px;
                background-color: rgba(203, 164, 205, 0.71);
        </style>
    </head>
    
    <div class="form-horizontal" id="border">
        @*<center><h3>Login</h3></center>*@
        <center>
            <img src="~/Image/logo-studentcare.png" style="width: min-content; height: 70px" />
        </center>
        <h4>Login </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { PlaceHolder = "Enter User Name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.PasswordFor(model => model.password,  htmlAttributes: new { PlaceHolder = "Enter Password", @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Login" class="btn btn-info" />
            </div>
        </div>

        <div>
            @Html.ActionLink("Don't have an Account? please Register here", "Create", "User","", htmlAttributes: new {Styles="color:#00000"})
        </div>
        <br />
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
